<mat-dialog-content>
  <div class="main-content popup pb-3" id="admin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <h4 class="title font-30">News/Updates Categorie</h4>          
        </div>   
        <div class="col-md-4 justify-content-end">
          <div class="row justify-content-end" (click)="dialogRef.close()" style="cursor: pointer;">
            <em class="material-icons close">clear</em>
          </div>
        </div> 

        <div class="col-md-12 d-flex mt-3" *ngIf="form">
          <form class="col-sm-10 col-md-10 col-lg-8 pl-0" [formGroup]="form" (ngSubmit)="submit()" novalidate>            
            <div class="form-group">
              <label>Picture</label>
              <div class="col-md-9 form-group pl-0">
                <app-file-uploader maxWidth="120px" label="Upload categorie picture" 
                  [edition]="edition" btnClass="btn-warning"                    
                  [endpoint]="'upload'" folder="categorie"
                  typeImage="thumbnail"
                  (onDone)="end($event)">
                </app-file-uploader> 
              </div>
            </div>
            <div class="form-group" [ngClass]="displayFieldCss(form, 'name')">
              <label>Label <span> (Enter categorie)</span></label>
              <input type="text" class="form-control" formControlName="name" required="">
            </div>
            <!--div class="form-group" [ngClass]="displayFieldCss(form, 'slug')">
              <label>Label <span> (Enter categorie)</span></label>
              <input type="text" class="form-control" formControlName="slug" required="">
            </div-->
            <button [disabled]="isLoading" type="submit" class="btn btn-warning btn-large capitalize mt-2">Post</button>
          </form>
        </div>        
      </div>
    </div>
  </div>
</mat-dialog-content>
  