.title-upload { 
    font-family: sourceSansPro-regular;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: #212020;
}
.tb {
    padding: 13px 20px 15px 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    min-width: 300px;
}
.p-t {
    font-size: 18px;
    color: #212020;
}
.classtype{
    width: 200px;
}
.txt-end{
    font-family: Futura;
    font-size: 15px;
    font-weight: 500;
}
.bt-close{
    border-radius: 22px;
    margin: 0px 0px 0px 6.5px;
    border: 0;    
}
.txt-end {
    color: #e63f0d !important;
}
.status {
    font-size: 13px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #212020;
    text-transform: uppercase;
    width: 150px;
}