<?php

/**
 * Ladakh swagger
 * Documentation for the ladakh platform
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

/**
 * delete deleteAgenda
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/agenda/{id}', 'AgendaApi@deleteAgenda');
/**
 * get getAgenda
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/agenda/{id}', 'AgendaApi@getAgenda');
/**
 * put updateAgenda
 * Summary: Updates a Agenda by ID
 * Notes: Updates a Agenda by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/agenda/{id}', 'AgendaApi@updateAgenda');
/**
 * get allAgendas
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/agendas', 'AgendaApi@allAgendas');
/**
 * post createAgenda
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/agendas', 'AgendaApi@createAgenda');
/**
 * delete deleteArticle
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/article/{id}', 'ArticleApi@deleteArticle');
/**
 * get getArticle
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/article/{id}', 'ArticleApi@getArticle');
/**
 * put updateArticle
 * Summary: Updates a Article by ID
 * Notes: Updates a Article by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/article/{id}', 'ArticleApi@updateArticle');
/**
 * get allArticles
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/articles', 'ArticleApi@allArticles');
/**
 * post createArticle
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/articles', 'ArticleApi@createArticle');
/**
 * post forgot
 * Summary: Restore access to a forgotten user
 * Notes: Assign new temporary password and send it by email to the user. On a new connection with this temporary password, the temporary is assigned to regular, and temporary is removed.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/forgot', 'AuthenticationApi@forgot');
/**
 * post login
 * Summary: Login a user
 * Notes: Login a user
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/login', 'AuthenticationApi@login');
/**
 * get regenerate
 * Summary: Regenerate the current auth token
 * Notes: Regenerate a new auth token in case of the current token has expired. Check the existance of the user.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/regenerate', 'AuthenticationApi@regenerate');
/**
 * post register
 * Summary: Register a user
 * Notes: Register a user
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/register', 'AuthenticationApi@register');
/**
 * post registerPro
 * Summary: Register a pro user
 * Notes: Register a pro user
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/registerPro', 'AuthenticationApi@registerPro');
/**
 * delete deleteBoption
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/boption/{id}', 'BoptionApi@deleteBoption');
/**
 * get getBoption
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/boption/{id}', 'BoptionApi@getBoption');
/**
 * put updateBoption
 * Summary: Updates a Boption by ID
 * Notes: Updates a Boption by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/boption/{id}', 'BoptionApi@updateBoption');
/**
 * get allBoptions
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/boptions', 'BoptionApi@allBoptions');
/**
 * post createBoption
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/boptions', 'BoptionApi@createBoption');
/**
 * delete deleteBusiness
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/business/{id}', 'BusinessApi@deleteBusiness');
/**
 * get getBusiness
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/business/{id}', 'BusinessApi@getBusiness');
/**
 * put updateBusiness
 * Summary: Updates a Business by ID
 * Notes: Updates a Business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/business/{id}', 'BusinessApi@updateBusiness');
/**
 * post uploadAjaxFileBusiness
 * Summary: Upload a file from ajax
 * Notes: Upload a file from ajax
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/business/{id}/ajaxUpload', 'BusinessApi@uploadAjaxFileBusiness');
/**
 * put approveBusiness
 * Summary: Approve business
 * Notes: Approve business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/business/{id}/approve', 'BusinessApi@approveBusiness');
/**
 * put rejectBusiness
 * Summary: Reject business
 * Notes: Reject business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/business/{id}/reject', 'BusinessApi@rejectBusiness');
/**
 * put updateBusinessStatus
 * Summary: Updates a Business by ID
 * Notes: Updates a Business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/business/{id}/updateStatus', 'BusinessApi@updateBusinessStatus');
/**
 * get statBusiness
 * Summary: business stats
 * Notes: business stats
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessStat', 'BusinessApi@statBusiness');
/**
 * get allBusinesses
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businesses', 'BusinessApi@allBusinesses');
/**
 * post createBusiness
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/businesses', 'BusinessApi@createBusiness');
/**
 * get allBusinessCategories
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessCategories', 'BusinessCategoryApi@allBusinessCategories');
/**
 * post createBusinessCategory
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/businessCategories', 'BusinessCategoryApi@createBusinessCategory');
/**
 * delete deleteBusinessCategory
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/businessCategory/{id}', 'BusinessCategoryApi@deleteBusinessCategory');
/**
 * get getBusinessCategory
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessCategory/{id}', 'BusinessCategoryApi@getBusinessCategory');
/**
 * put updateBusinessCategory
 * Summary: Updates a BusinessCategory by ID
 * Notes: Updates a BusinessCategory by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/businessCategory/{id}', 'BusinessCategoryApi@updateBusinessCategory');
/**
 * delete deleteBusinessRequiredDocument
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/businessRequiredDocument/{id}', 'BusinessRequiredDocumentApi@deleteBusinessRequiredDocument');
/**
 * get getBusinessRequiredDocument
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessRequiredDocument/{id}', 'BusinessRequiredDocumentApi@getBusinessRequiredDocument');
/**
 * put updateBusinessRequiredDocument
 * Summary: Updates a BusinessRequiredDocument by ID
 * Notes: Updates a BusinessRequiredDocument by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/businessRequiredDocument/{id}', 'BusinessRequiredDocumentApi@updateBusinessRequiredDocument');
/**
 * put approveBusinessRequiredDocument
 * Summary: Approve business
 * Notes: Approve business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/businessRequiredDocument/{id}/approve', 'BusinessRequiredDocumentApi@approveBusinessRequiredDocument');
/**
 * put rejectBusinessRequiredDocument
 * Summary: Reject business
 * Notes: Reject business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/businessRequiredDocument/{id}/reject', 'BusinessRequiredDocumentApi@rejectBusinessRequiredDocument');
/**
 * get allBusinessRequiredDocuments
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessRequiredDocuments', 'BusinessRequiredDocumentApi@allBusinessRequiredDocuments');
/**
 * delete deleteBusinessTransfert
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/businessTransfert/{id}', 'BusinessTransfertApi@deleteBusinessTransfert');
/**
 * get getBusinessTransfert
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessTransfert/{id}', 'BusinessTransfertApi@getBusinessTransfert');
/**
 * put updateBusinessTransfert
 * Summary: Updates a BusinessTransfert by ID
 * Notes: Updates a BusinessTransfert by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/businessTransfert/{id}', 'BusinessTransfertApi@updateBusinessTransfert');
/**
 * put approveBusinessTransfert
 * Summary: Approve business
 * Notes: Approve business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/businessTransfert/{id}/approve', 'BusinessTransfertApi@approveBusinessTransfert');
/**
 * put rejectBusinessTransfert
 * Summary: Reject business
 * Notes: Reject business by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/businessTransfert/{id}/reject', 'BusinessTransfertApi@rejectBusinessTransfert');
/**
 * get allBusinessTransfertRequiredDocuments
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessTransfertRequiredDocuments', 'BusinessTransfertApi@allBusinessTransfertRequiredDocuments');
/**
 * get allBusinessTransferts
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/businessTransferts', 'BusinessTransfertApi@allBusinessTransferts');
/**
 * delete deleteCalendar
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/calendar/{id}', 'CalendarApi@deleteCalendar');
/**
 * get getCalendar
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/calendar/{id}', 'CalendarApi@getCalendar');
/**
 * put updateCalendar
 * Summary: Updates a Calendar by ID
 * Notes: Updates a Calendar by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/calendar/{id}', 'CalendarApi@updateCalendar');
/**
 * get allCalendars
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/calendars', 'CalendarApi@allCalendars');
/**
 * post createCalendar
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/calendars', 'CalendarApi@createCalendar');
/**
 * get allCategories
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/categories', 'CategoryApi@allCategories');
/**
 * post createCategory
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/categories', 'CategoryApi@createCategory');
/**
 * delete deleteCategory
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/category/{id}', 'CategoryApi@deleteCategory');
/**
 * get getCategory
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/category/{id}', 'CategoryApi@getCategory');
/**
 * put updateCategory
 * Summary: Updates a Category by ID
 * Notes: Updates a Category by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/category/{id}', 'CategoryApi@updateCategory');
/**
 * get allGalleries
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/galleries', 'GalleryApi@allGalleries');
/**
 * post createGallery
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/galleries', 'GalleryApi@createGallery');
/**
 * delete deleteGallery
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/gallery/{id}', 'GalleryApi@deleteGallery');
/**
 * get getGallery
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/gallery/{id}', 'GalleryApi@getGallery');
/**
 * put updateGallery
 * Summary: Updates a Gallery by ID
 * Notes: Updates a Gallery by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/gallery/{id}', 'GalleryApi@updateGallery');
/**
 * get allgalleryCategories
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/galleryCategories', 'GalleryApi@allgalleryCategories');
/**
 * post uploadGallery
 * Summary: Upload a file
 * Notes: Upload a file
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/uploadGallery', 'GalleryApi@uploadGallery');
/**
 * post reorderListArticle
 * Summary: Reorder List Article.
 * Notes: reorder List Article
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/reorderListArticle', 'MenuApi@reorderListArticle');
/**
 * get allInformationCenters
 * Summary: Returns a list of information centers.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/misc/informationcenters', 'MiscApi@allInformationCenters');
/**
 * get allNews
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/news', 'NewsApi@allNews');
/**
 * post createNews
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/news', 'NewsApi@createNews');
/**
 * delete deleteNews
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/news/{id}', 'NewsApi@deleteNews');
/**
 * get getNews
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/news/{id}', 'NewsApi@getNews');
/**
 * put updateNews
 * Summary: Updates a News by ID
 * Notes: Updates a News by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/news/{id}', 'NewsApi@updateNews');
/**
 * delete deleteRequiredDocument
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/requiredDocument/{id}', 'RequiredDocumentApi@deleteRequiredDocument');
/**
 * get getRequiredDocument
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/requiredDocument/{id}', 'RequiredDocumentApi@getRequiredDocument');
/**
 * put updateRequiredDocument
 * Summary: Updates a RequiredDocument by ID
 * Notes: Updates a RequiredDocument by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/requiredDocument/{id}', 'RequiredDocumentApi@updateRequiredDocument');
/**
 * get allRequiredDocuments
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/requiredDocuments', 'RequiredDocumentApi@allRequiredDocuments');
/**
 * post createRequiredDocument
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/requiredDocuments', 'RequiredDocumentApi@createRequiredDocument');
/**
 * get allRoadtoladakh
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/roadtoladakh', 'RoadtoladakhApi@allRoadtoladakh');
/**
 * post createRoadtoladakh
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/roadtoladakh', 'RoadtoladakhApi@createRoadtoladakh');
/**
 * delete deleteRoadtoladakh
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/roadtoladakh/{id}', 'RoadtoladakhApi@deleteRoadtoladakh');
/**
 * get getRoadtoladakh
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/roadtoladakh/{id}', 'RoadtoladakhApi@getRoadtoladakh');
/**
 * put updateRoadtoladakh
 * Summary: Updates a Roadtoladakh by ID
 * Notes: Updates a Roadtoladakh by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/roadtoladakh/{id}', 'RoadtoladakhApi@updateRoadtoladakh');
/**
 * delete deleteSlider
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/slider/{id}', 'SliderApi@deleteSlider');
/**
 * get getSlider
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/slider/{id}', 'SliderApi@getSlider');
/**
 * put updateSlider
 * Summary: Updates a Slider by ID
 * Notes: Updates a Slider by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/slider/{id}', 'SliderApi@updateSlider');
/**
 * get allSliders
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/sliders', 'SliderApi@allSliders');
/**
 * post createSlider
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/sliders', 'SliderApi@createSlider');
/**
 * delete deleteStaticPage
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/staticPage/{id}', 'StaticPageApi@deleteStaticPage');
/**
 * get getStaticPage
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/staticPage/{id}', 'StaticPageApi@getStaticPage');
/**
 * put updateStaticPage
 * Summary: Updates a StaticPage by ID
 * Notes: Updates a StaticPage by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/staticPage/{id}', 'StaticPageApi@updateStaticPage');
/**
 * get allStaticPages
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/staticPages', 'StaticPageApi@allStaticPages');
/**
 * post createStaticPage
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/staticPages', 'StaticPageApi@createStaticPage');
/**
 * post uploadAjaxFile
 * Summary: Upload a file from ajax
 * Notes: Upload a file from ajax
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/ajaxUpload', 'UploadApi@uploadAjaxFile');
/**
 * post uploadFile
 * Summary: Upload a file
 * Notes: Upload a file
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/upload', 'UploadApi@uploadFile');
/**
 * post createUser
 * Summary: Creates a user
 * Notes: Creates a user.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/users', 'UsersApi@createUser');
/**
 * get getUsers
 * Summary: Returns a list of users.
 * Notes: Get users corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/users', 'UsersApi@getUsers');
/**
 * delete deleteUser
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/users/{id}', 'UsersApi@deleteUser');
/**
 * get getUser
 * Summary: Gets a user by ID
 * Notes: Gets a user by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/users/{id}', 'UsersApi@getUser');
/**
 * put updateUser
 * Summary: Updates a User by ID
 * Notes: Updates a User by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/users/{id}', 'UsersApi@updateUser');
/**
 * delete deleteVideo
 * Summary: Deletes a user by ID
 * Notes: Deletes a user by ID
 * Output-Formats: [application/json]
 */
$app->delete('/api/v1/video/{id}', 'VideoApi@deleteVideo');
/**
 * get getVideo
 * Summary: Gets a doc by ID
 * Notes: Gets a doc by ID, with all data excepts the password
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/video/{id}', 'VideoApi@getVideo');
/**
 * put updateVideo
 * Summary: Updates a Video by ID
 * Notes: Updates a Video by ID.
 * Output-Formats: [application/json]
 */
$app->put('/api/v1/video/{id}', 'VideoApi@updateVideo');
/**
 * get allVideos
 * Summary: Returns a list of documents.
 * Notes: Get documents corresponding to query.
 * Output-Formats: [application/json]
 */
$app->get('/api/v1/videos', 'VideoApi@allVideos');
/**
 * post createVideo
 * Summary: Creates a document
 * Notes: Creates a document.
 * Output-Formats: [application/json]
 */
$app->post('/api/v1/videos', 'VideoApi@createVideo');

