.margin-body{
    margin: 101px 3px 44px 80px;
}
.bt-approved{
    //margin: 101px 3px 44px 80px;
    color:white;
    border-radius: 10px;
    background-color: #17dd3d;
}
.bt-view{
    color:white;
    background-color: #17dd3d;
}
.bt-view-white{
    color:#000000;
    background-color: white;
}
.bt-update{
    color: #ffffff;
    border-radius: 10px;
    background-color: #707070;
}
.mg-modal{
    margin-top: 319px;
}