<div class="row">  
    <div class="col-12">    
        <button type="button" class="float-right close mt-1" data-dismiss="modal" (click)="onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>  
        <button class="btn btn-success btn-theme float-right mr-2" (click)="approve()">Approve</button>    
        <button class="btn btn-danger btn-theme float-right mr-2" (click)="refused()">Refused</button>
    </div>
</div>

<div class="row mt-4" style="height: 90%;">
    <div class="col-12">        
        <iframe [src]="previewUrl" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</div>


